.pagination {
	padding: 44px;
	display: flex;
	align-items: center;
	justify-content: center;

	&__btn {
		background-color: var(--primary-color-user_profile-bg);
		border: none;

		&:first-child {
			margin-right: 16px;
		}

		&:last-child {
			margin-left: 16px;
		}

		& .button_icon {
			color: var(--primary-color);
		}

		&:hover {
			box-shadow: none;
		}
	}

	&__page {
		display: flex;
		align-items: center;
		justify-content: space-around;

		& .normal-regular {
			width: 38px;
			height: 38px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 16px;
			border-radius: 50%;
			color: var(--white-color);
			cursor: pointer;

			&:first-child {
				margin-left: 0;
			}
		}

		&--active {
			background-color: var(--text-light);
		}
	}
}
