.login {
	padding: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 999;
	text-align: center;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	box-shadow: var(--drop-shadow);
	border-radius: 12px;
	width: 520px;

	&__title {
		text-align: center;
		margin-bottom: 36px;
		color: var(--primary-color-dark);
	}

	& span {
		text-align: center;
		color: var(--text-gray-1);
	}

	&__form {
		margin-top: 22px;
	}

	&__field {
		&--item {
			border: 1px solid var(--text-dark);
			border-radius: 16px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
		}

		&--err {
			border-color: var(--error-color);

			& .login__field--icon svg path {
				stroke: var(--error-color);
			}
		}

		&--input {
			flex: 1;
			padding: 16px;
			padding-left: 0;
			border-radius: inherit;
			color: var(--text-dark);

			&::placeholder {
				color: var(--text-gray);
			}
		}

		&--icon {
			padding: 12px;

			& svg {
				pointer-events: none;
				width: 18px;
				height: 18px;

				& path {
					stroke: var(--text-dark);
				}
			}

			&-eye {
				cursor: pointer;
			}
		}

		&--noteErr {
			text-align: start;
			margin: -12px 0 12px;
			color: var(--error-color);
		}
	}

	&__forgot {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 20px;

		&--link {
			color: var(--text-gray);
		}
	}

	&__submit {
		margin-bottom: 28px;
		width: 100%;
		background-color: var(--yellow-color);
		border: none;

		& .normal-semibold {
			padding-top: 12px;
			padding-bottom: 12px;
			color: var(--primary-color);
		}
	}

	&__signup {
		color: var(--text-gray-1);

		a {
			font-weight: 700;
			color: var(--primary-color);
		}
	}
}
